body {
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  display: block;

  .button {
    width: 60px;
    height: 100%;
    background-image: url(/images/menu.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    transition: all 0.2s;
    cursor: pointer;
  }
}

.sidebar {
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 1000;
  list-style-type: none;
  padding-left: 0;
  display: none;
  transition: all 0.8s cubic-bezier(0.15, 0.7, 0, 1);

  .btn-sidebar {
    width: 300px;
    height: 40px;
    border: solid transparent;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
    }
  }
  .btn-red {
    background-color: red;
  }
  .btn-orange {
    background-color: orange;
  }
  .btn-yellow {
    background-color: yellow;
  }
  .btn-green {
    background-color: green;
  }
  .btn-blue {
    background-color: blue;
  }
  .btn-violet {
    background-color: violet;
  }
}
